h1.special-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
[class*="col"]{
    border: 1px solid black;
    background-color: aquamarine;
}
.sidebar [class*="col"]{
    border: none;
    background-color: transparent;
}
.alert {
    display: none;
}